h1
{
font-family:Courier New;color:red
}
h2
{
	text-decoration : underline
}
p
{color:blue
}
body
{
	background-color : yellow
}
#sociabilité
{text-align:center;
background-color:white;
}